
.DS_Store
__pycache__
.idea
KMS
.venv
.vscode
*.egg-info
.pytest_cache
.ruff_cache
.claude/settings.local.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.development
.env.*
!.env.example
node_modules/

# Local interview transcripts written by the agent in dev
dev_interviews_db.json


